<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Critical Design
      </h1>
      <h2 class="subtitle">
        TODO
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <div class="column is-12">
      <!-- Introduction -->
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <h2 class="title is-3">Personal Manifesto</h2>
      <hr>
      <h2 class="title is-3">Reflection</h2>
      <hr>
    </div>
  </div>
</div>
