<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Critical Design
      </h1>
      <h2 class="subtitle">
        Challenge your beliefs
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <div class="column is-12">
      <!-- Introduction -->
      <h2 class="title is-2">Introduction</h2>
      <hr>

      <p>
        Critical design challenges us to tackle assumptions and preconceived notions we might have regarding design as
        we know it. It challenges us to be critical and curious during a design process.
        The learning goal for critical design is described as follows:
      </p>
      <h3 class="is-3 quote">
        <i>
          "After following this course the student can use speculative design proposals to challenge narrow assumptions,
          preconceptions and givens about the role products play in everyday life"
        </i>
      </h3>

      <h2 class="title is-3">Personal Manifesto</h2>
      <hr>
      <p>One of our first challenges was to look at problems in our daily life or on a global scale. After that, set up
        a manifesto that applies to this topic. Think about the medium in which you want to present this manifesto.
        After some brainstorming and discussions with fellow classmates, I came up with several ideas. Both personal and
        global. One problem that intrigued me was the global obession with health. A lot of people, including me, always
        aim to live a more healthy life, but have a problem achieving this goal. <i>The Healthy Life</i> manifesto would
        be a manifesto that states what should be done to live healthy. To give a practical approach to the manifesto, I
        decided to present it as a cookbook. This way each rule has its own recipe that can immediatly be adapted. The
        cookbook can be found <a
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/critical%2FHealthyLife%20Manifesto.pdf?alt=media&token=450ad9f6-2589-478d-9c31-1ee3094ecb2d"
          target="_blank" rel="noopener noreferrer">here</a>.
      </p>
      <img src="../assets/img/critical/cookbook.png" alt="">
      <p style="margin-top: 1em;">This was my first time using InDesign and served as a great practice.</p>
      <p>After we presented our first version of the manifesto I was inspired by my classmates. Many of them told very
        personal stories in their manifesto which were very touching. Therefore I decided I wanted to change my
        manifesto and make it more personal as well. I came up with the idea to create a website that presented ideas
        and philosophies I agreed with. The visitor of the website can then choose whether they agree or disagree with
        the statement. At the end of the statements the percentage of how much you agree with me is shown. The website
        can be visited <a href="https://manifesto-61a6a.web.app/" target="_blank" rel="noopener noreferrer">here</a>.
      </p>
      <img src="../assets/img/critical/website.png" alt="">
      <h2 class="title is-3">Reflection</h2>
      <hr>
    </div>
  </div>
</div>
