<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Critical Design
      </h1>
      <h2 class="subtitle">
        Challenge your beliefs
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <div class="column is-12">
      <!-- Introduction -->
      <h2 class="title is-2">Introduction</h2>
      <hr>

      <p>
        Critical design challenges us to tackle assumptions and preconceived notions we might have regarding design as
        we know it. It challenges us to be critical and curious during a design process.
        The learning goal for critical design is described as follows:
      </p>
      <h3 class="is-3 quote">
        <i>
          "After following this course the student can use speculative design proposals to challenge narrow assumptions,
          preconceptions and givens about the role products play in everyday life"
        </i>
      </h3>

      <!-- Personal manifestio -->
      <h2 class="title is-3">Personal Manifesto</h2>
      <hr>
      <p>One of our first challenges was to look at problems in our daily life or on a global scale. After that, set up
        a manifesto that applies to this topic. Think about the medium in which you want to present this manifesto.
        After some brainstorming and discussions with fellow classmates, I came up with several ideas. Both personal and
        global. One problem that intrigued me was the global obession with health. A lot of people, including me, always
        aim to live a more healthy life, but have a problem achieving this goal. <i>The Healthy Life</i> manifesto would
        be a manifesto that states what should be done to live healthy. To give a practical approach to the manifesto, I
        decided to present it as a cookbook. This way each rule has its own recipe that can immediatly be adapted. The
        cookbook can be found <a
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/critical%2FHealthyLife%20Manifesto.pdf?alt=media&token=450ad9f6-2589-478d-9c31-1ee3094ecb2d"
          target="_blank" rel="noopener noreferrer">here</a>.
      </p>
      <img src="../assets/img/critical/cookbook.png" alt="">
      <p style="margin-top: 1em;">This was my first time using InDesign and served as a great practice.</p>
      <p>After we presented our first version of the manifesto I was inspired by my classmates. Many of them told very
        personal stories in their manifesto which were very touching. Therefore I decided I wanted to change my
        manifesto and make it more personal as well. I came up with the idea to create a website that presented ideas
        and philosophies I agreed with. The visitor of the website can then choose whether they agree or disagree with
        the statement. At the end of the statements the percentage of how much you agree with me is shown. The website
        can be visited <a href="https://manifesto-61a6a.web.app/" target="_blank" rel="noopener noreferrer">here</a>.
      </p>
      <img src="../assets/img/critical/website.png" alt="">

      <!-- Personal project  -->
      <h2 class="title is-3">Personal Project</h2>
      <hr>
      <p>The personal manifesto served as a guideline for our next assignment: the personal project. The personal
        project is a concept that implements ideas and/or themes from your personal manifesto. We werre given a lot of
        freedom in coming up with concepts which was nice. At first I analysed my personal manifesto and brainstormed
        different ideas for a concept. The main themes that I found and interested me the most were <b>injustice</b>,
        <b>discrimination</b>, and <b>intolerance</b>. This lead me in coming up with five different concepts:</p>

      <mat-accordion>
        <!-- Concept 1 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #1</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Virtual environment that simulates real life situations with other people. These people then discriminate
            against you for a personal feature. The goal of this concept is to show people how it feels to be
            discriminated against and activate them to be more conscious of their own behaviour.</p>
        </mat-expansion-panel>

        <!-- Concept 2 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #2</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Digital platform for seeing the latest protests in your area / country. Presented in a way such as Facebook
            events. People can then choose which ones they want to know more about or participate in.</p>
        </mat-expansion-panel>

        <!-- Concept 3 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #3</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>A website that educates its users on problematic behaviour. Think of Wikipedia but for social justice.</p>
        </mat-expansion-panel>

        <!-- Concept 4 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #4</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>An AI that positively discriminates against job applications. Instead of going with e.g. ‘western’ names,
            they prefer foreign names, females, etc.</p>
        </mat-expansion-panel>

        <!-- Concept 5 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #5</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>A multiplayer game that puts one player behind other players. They receive less points, money, etc. At the
            end of the game it is made clear that the person has been disadvantaged.</p>
        </mat-expansion-panel>
      </mat-accordion>
      <p style="margin-top: 1em;">After discussing with my teacher and fellow students, I came up with a new idea:
        <b>Grey Area</b>. Grey Area
        is about finding the middle ground between two people who disagree. Its concept description can be seen here:
      </p>

      <table class="table is-striped">
        <tbody>
          <tr>
            <td><b>Description:</b></td>
            <td>More and more, societies around the world seem to be polarizing. Whether it be about political beliefs,
              race, or gender. It seems as more extreme ideas are arising and our compassion and empathy for each other
              is fading. Traditional and social media play into this. They like to present us with these extreme ideas.
              And instead of bringing us closer together, they rip us further apart.
              Grey Area wishes to be the opposite for this. Grey Area is a website on which people with different ideas
              come together. And instead of fighting, come together to find a middle ground in a civil discussion. As
              problems and ideas are not as black and white as people often think.
              The figures below shows a wireframe of what Grey Area will look like, along with the flow of the website.
            </td>
          </tr>
          <tr>
            <td><b>Motivation:</b></td>
            <td>
              <p><i>Middle Ground:</i> </p>
              <p> A big inspiration for this concept is the Youtube series Middle Ground by Jubilee. In this series,
                people
                with opposing views are sat together and need to answer several statements. The people then get a
                discussion round in which they get the chance to explain why they believe or don’t believe in the
                proposed
                statement. An example episode (Satanists vs Major Religions) can be found here:
                <a href="https://www.youtube.com/watch?v=auPYOsBejK4&ab_channel=Jubilee" target="_blank"
                  rel="noopener noreferrer">https://www.youtube.com/watch?v=auPYOsBejK4&ab_channel=Jubilee</a>.
                At the end, more often than not, both groups have a better understanding and appreciation for each
                other.
                They might not fully agree with the others, but through civil discussion they often have gained a degree
                of respect for each other.</p>

              <p><i>Format:</i> </p>
              <p>
                The format of the website is reminiscent of dating apps. I looked at popular matching apps such as
                Tinder.
                For Grey Area, instead of matching people together with similar interests, people are matched on beliefs
                they don’t share.</p>
              <p><i>Problem:</i> </p>
              <p>
                Political and social polarization is becoming more widespread. As the Netflix documentary Social Dilemma
                pointed out, the algorithms of apps such as Facebook and Social Media encourage their users to get
                content
                of views they already agree with. This results in people staying in their bubble and being more
                convinced
                of their own beliefs and biases.
              </p>
            </td>
          </tr>
          <tr>
            <td><b>Social relevance:</b></td>
            <td>
              <p>Polarisation results in people getting more hostile and separated from each other. Grey Area aims to
                bring back a level of respect for others and make people more tolerant to different ideas. It aims to
                expose people to other people they would normally not come in contact with.</p>
            </td>
          </tr>
        </tbody>
      </table>
      <p>The first wireframe version can be found here:</p>

      <mat-accordion>
        <!-- Wireframe -->
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>See wireframe</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a href="../assets/img/critical/wireframe.png" target="_blank" rel="noopener noreferrer">
            <img src="../assets/img/critical/wireframe.png" alt="">
          </a>
          <p style="margin-top: 1em;">The interactive Adobe XD prototype of this can be found <a href="https://xd.adobe.com/view/7d4e0da1-70eb-45de-889a-d4385d3a0c3f-281d/" target="_blank" rel="noopener noreferrer">here</a>.</p>
        </mat-expansion-panel>
      </mat-accordion>

      <p>Feedback I got on this is that it did not feel like the application had a goal or end-result. While discussing
        with my teacher I thought it might be a fun idea to incorporate one of my earlier concepts, the organizing of
        protests. So that at the end of the conversation with someone, you get the option to organize a protest together
        on something you both agree with.</p>
      <!-- Reflection -->
      <h2 class="title is-3">Reflection</h2>
      <hr>
    </div>
  </div>
</div>
