<nav id="navTop" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- <a class="navbar-item" [routerLink]="['/']">
      <img src="/assets/img/Huurteam-zuidlimburg-LOGO-01.png" alt="Huurteam-Zuidlimbirg logo">
    </a> -->
    <a (click)="toggleNavbar()" #navBurger role="button" class="navbar-burger burger" aria-label="menu"
      aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <!-- Home -->
      <a class="navbar-item" [routerLink]="['/']">
        Home
      </a>
      <!-- VEGA Collaboration -->
      <a class="navbar-item" [routerLink]="['/vega']">
        Vega Collab
      </a>
      <!-- HCD -->
      <a class="navbar-item" [routerLink]="['/hcd']">
        Human Centered Design
      </a>
      <!-- Critical design -->
      <a class="navbar-item" [routerLink]="['/criticalDesign']">
        Critical Design
      </a>
      <!-- Media theory -->
      <a class="navbar-item" [routerLink]="['/media']">
        Media Theory
      </a>
      <!-- Storytelling -->
      <a class="navbar-item" [routerLink]="['/story']">
        Storytelling
      </a>
      <!-- Novum -->
      <div class="navbar-item has-dropdown is-hoverable">
        <a style="cursor: default;" class="navbar-link">
          Novum
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" [routerLink]="['/novum/sprint1']">
            Sprint 1
          </a>
          <a class="navbar-item" [routerLink]="['/novum/sprint2']">
            Sprint 2
          </a>
          <a class="navbar-item" [routerLink]="['/novum/sprint3']">
            Sprint 3
          </a>
          <a class="navbar-item" [routerLink]="['/novum/sprint4']">
            Sprint 4
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>
