<nav id="navTop" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- <a class="navbar-item" [routerLink]="['/']">
      <img src="/assets/img/Huurteam-zuidlimburg-LOGO-01.png" alt="Huurteam-Zuidlimbirg logo">
    </a> -->
    <a (click)="toggleNavbar()" #navBurger role="button" class="navbar-burger burger" aria-label="menu"
      aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <!-- Home -->
      <a class="navbar-item" [routerLink]="['/']">
        Home
      </a>
      <!-- VEGA Collaboration -->
      <a class="navbar-item" [routerLink]="['/']">
        Vega Collab
      </a>
      <!-- HCD -->
      <a class="navbar-item" [routerLink]="['/']">
        Human Centered Design
      </a>
      <!-- Critical design -->
      <a class="navbar-item" [routerLink]="['/']">
        Critical Design
      </a>
      <!-- Storytelling -->
      <a class="navbar-item" [routerLink]="['/']">
        Storytelling
      </a>
      <!-- Novum -->
      <a class="navbar-item" [routerLink]="['/']">
        Novum
      </a>
    </div>

  </div>
</nav>
