.navbar {
  background: rgba(240, 240, 240, 0.0);
  min-height: 10vh;
}

.navbar.is-fixed-top {
    position: absolute;
}

.navbar-item img {
  max-height: 8vh;
}

.navbar-brand {
  //background-color: white;
  margin-left: 4%;

  .navbar-item {
    margin-left: 0px;
  }
}

.navbar-burger {
  height: unset;
}

.atTop {
  background-color: white;

  .navbar-item {
    color: #4a4a4a;
  }

  .navbar-burger {
    color: #4a4a4a;
  }
}

.navbar-dropdown {
  border-radius: 0em;
}

a {
    font-weight: bold;
    color: white;
}