<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sprint 2 - Define & Ideate
      </h1>
      <h2 class="subtitle">
        More defining, and coming up with ideas.
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <div class="column is-12">
      <!-- Introduction -->
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <p>After our first sprint we got feedback that we needed more insight into our target group. So while in
        actuallity we had planned to start ideating in the second sprint, we decided to first do some more defining.</p>
      <p>Once we had done this, we would move on to ideation. </p>

      <!-- Street Interviewes-->
      <h2 class="title is-2">Street Interviews</h2>
      <hr>
      <p>In the first sprint we wanted to do some street interviews of elderly people. Unfortunately due to a lack of
        time we were not able to do so. That is why we did it this sprint. Together with Jessica, we head to the center
        of Eindhoven to meet some people and have a quick conversation about digital media use and power of attorney. We
        found it a bit difficult to find people of our target group, which was made worse due to the Covid-19 pandemic.
        But eventually we found enough participants to come up with some meaningful insights.</p>
      <p>Our preparation for the street interview looks as follows:</p>
      <mat-card>
        <p>Short interview set up that can be used for interviews in streets, with people that are taking a bit of time
          to help us by answering some questions. These interviews should only take a minute or 10.
        </p>
        <p>These questions are meant to be asked and afterwards use their answer to keep asking questions to get more
          information.
          Therefore it is possible that you might not get to all the questions because the people might run out of time.
        </p>
        <p><b>Goals:</b></p>
        <ol>
          <li>Get to know whether people use DigiD</li>
          <li>Get to know whether people have experience with giving power of attorney</li>
          <li>What do they find difficult online and with computers/mobiles</li>
          <li>How do they think it will be improved</li>
        </ol>
        <p><b>Methodology:</b></p>
        <p>Use conversation starters in for example a park, supermarket, etc. to get information from the target
          audience in a normal conversation. (<a href="https://www.designkit.org/methods/conversation-starters"
            target="_blank" rel="noopener noreferrer">https://www.designkit.org/methods/conversation-starters</a>)</p>
        <ol>
          <li>Introduce as students from Fontys</li>
          <li>Ask for a few minutes of their time</li>
          <li>We doen onderzoek naar het gebruik van Digid onder de mensen</li>
          <li>Gebruikt u Digid?</li>
          <li>Zou u uzelf als bekwaam met technologie noemen? / Maakt u veel gebruikt van technologie (mobiel, computer
            etc)?</li>
          <li>Loopt u weleens tegen problemen aan met het gebruik van technologie?</li>
          <li>Heeft u naasten zoals kleinkinderen of kinderen uw Digid zaken al eens laten doen?</li>
          <li>Weet u wat volmacht is?</li>
          <li>Heeft u al eens volmacht gegeven of gekregen?</li>
          <li>Wat zou u veranderen om het makkelijker te maken?</li>
          <li>Ask for age</li>
        </ol>
      </mat-card>
      <p>The interviews we conducted can be found <a
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/novum%2FSprint%202%2FStreet%20interviews%2006-10-20.pdf?alt=media&token=4cf4d6cc-3ff8-4175-b0d4-7de35b588a6d"
          target="_blank" rel="noopener noreferrer">here</a>. The insights we got from them go as follows:</p>
      <ul>
        <li>The target group has more often received power of attorney rather than given it.</li>
        <li>Most people have adequate knowledge about power of attorney.</li>
        <li>Computers seem prefered over smartphones for DigiD.</li>
        <li>They do not (want to) think about giving power of attorney yet.</li>
        <li>Most do not like the idea of having their information online.</li>
        <li>They would hire a notary for things they do not like to do, such as giving power of attorney.</li>
      </ul>

      <!-- Brainstorming -->
      <h2 class="title is-2">Brainstorming</h2>
      <hr>
      <p>Todo</p>

      <!-- Reflection-->
      <h2 class="title is-2">Reflection</h2>
      <hr>
      <p>I feel like during this sprint we made less progress than during the first. We got a bit stuck on the defining
        and getting our group on the same page. I do think that it was wise to do more defining as it is more clear now
        and stronger supported. Our Scrum master has unfortunately decided to resign as Scrum master as he felt like he
        could not push our group well enough anymore. I think he had some expectations of us that we could not fulfill.
      </p>
      <p>Our presentation for sprint 2 can be seen below:</p>
      <img src="../assets/img/novum/sprint2/presentation.gif" alt="">
    </div>
  </div>
</div>
