<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sprint 1 - Empathize
      </h1>
      <h2 class="subtitle">
        Getting started, analyzing and empathizing with our target group.
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <div class="column is-12">
      <!-- Introduction -->
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <p>During this semester each of us has a group project. There were 4 companies we could choose from to have our
        group assignment for. I chose for the Novum project. I got paired with Jessica, Pei-Yu, Wendy, Diana, and
        Diederik. Novum is a subsidiary of the Social Security Bank (SVB in dutch). They specialize in innovation and
        unconventional solutions for government departments that might need one.
        For us, they came up with an assignment to make it easier for people to give power of attorney to others. When
        someone has power of attorney of someone, they can perfrom actions in their name. For example: open a bank
        account, receive government funds, manage their pension, etc. As of now, there is no easy-to-use solution to
        give this power.
      </p>
      <p>The first sprint focusses on empathizing. This means we want to define our target audience and connect with
        them; listen to their needs and wants, and the problems they are facing.</p>


      <!-- Debriefing -->
      <h2 class="title is-2">Debriefing & Defining</h2>
      <hr>
      <p>After we introduced ourselves to eachother and to our product owner Matthijs, it was time to get to work. Our
        first step was to debrief the loads of initial information we have gotten from Matthijs. It became clear that
        the most important target audience would be elderly people, who are digitally literate, as they might have the
        most problems with arranging power of attorney. From this debriefing we came up with the following design
        challenge:</p>
      <h3 class="is-3 quote">
        <i>
          "Design a digital authorization system to enable elderly people who will no longer be competent in the future
          to digitally authorize others to securely arrange and manage their digital administration."
        </i>
      </h3>
      <p style="margin-top: 1em;">To see if there were perhaps already solutions to this problem. We made a competitor
        analysis. This analysis shows potential solutions that have to do with giving away power. For example
        <i>Facebook permissions</i>. But we also looked at how power of attorney is arranged in other countries such as
        Great Brittain. The full competitor analysis can be found <a
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/novum%2FSprint%201%2FCompetition%20Analysis.pdf?alt=media&token=540cd3f4-b4ca-42e8-9c8d-a793dfe3d381"
          target="_blank" rel="noopener noreferrer">here</a>.</p>
      <p>In this research we also found out the types of power of attorney in the Netherlands:
      </p>
      <ul>
        <li><b>Full power of attorney (Algehele volmacht)</b> - A donor can appoint a close person as their attorney.
          When giving full power, the attorney can make important financial decisions for the donor. Such as, selling
          estate, gifting money, and taking loans for the donor.
        </li>
        <li><b>Special power of attorney (Bijzondere volmacht)</b> - This gives the attorney only a specific role they
          may fulfill.</li>
        <li><b>Notarized power of attorney (Notariële volmacht)</b> - This is done together with a notary. The notary
          checks the mental state of the donor, when in doubt, an independant doctor might be requested to judge the
          donor’s mental state. If the mental state of the donor is not in order, a court needs to decide if the power
          of attorney can be given. Notarized power of attorney is the most common one.</li>
        <li><b>Private power of attorney (Onderhandse volmacht)</b> - A donor can give power of attorney without a
          notary. Not having a notary present, prevents the attorney from getting full power over certain actions such
          as getting a mortgage.</li>
        <li><b>Bank power of attorney (Bankvolmacht)</b> - This gives an attorney permission to manage a donor’s bank
          account. This is organized directly with the bank and no government interference. Both the permission of the
          donor and attorney is needed. The bank will not check if the bank account of the donor is being misused.</li>
      </ul>
      <p style="margin-top: 1em;">Notarized power is the most common one, the only one that is protected by law and goes
        beyond banking rights. This information might prove useful in the future to make sure our solution is protected
        by law as well.</p>

      <!-- Empathizing -->
      <h2 class="title is-2">Empathizing</h2>
      <hr>
      <p>To make sure we know the needs of our target audience, we need to empathize with them. To achieve this we have come up with multiple approaches:
      </p>
      <ul>
          <li>1-on-1 interviews</li>
          <li>Street interviews</li>
          <li>Surveys</li>
      </ul>

      <p>I worked on the 1-on-1 interviews and the street interviews. However, in this sprint I only got to work on the 1-on-1 interviews</p>
<!-- 
      <ngx-audio-player [playlist]="tracks" [displayTitle]="msaapDisplayTitle" [autoPlay]="false" 
    muted="muted" [displayPlaylist]="msaapDisplayPlayList" [pageSizeOptions]="pageSizeOptions" (trackEnded)="onEnded($event)"
        [displayVolumeControls]="true" [disablePositionSlider]="false" 
        [expanded]="true"></ngx-audio-player>  -->
    </div>
  </div>
</div>
