<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sprint 4 - The end
      </h1>
      <h2 class="subtitle">
        Final prototypes, testing, and wrapping up the project.
      </h2>
    </div>
  </div>
</section>

<div class="content">
  <div class="columns is-multiline">
    <div class="column is-12">
      <!-- Introduction -->
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <p> During this sprint we cleared up the confusion and frustration from last sprint. We decided that instead of
        having a Scrum master we would split up its tasks among each member. This way every member was responsible for
        one small task in particular.
      </p>
      <p>The goal for this sprint was to create high-fidelity prototypes with the feedback we got from last sprint. We
        would then test them and conclude our final insights.
        For the wrapping up of the project we made a transferbility document and files that include all the insights and
        work we performed during the last few months to give to Novum.
      </p>

      <!-- High-fidelity prototype -->
      <h2 class="title is-2">High-fidelity prototype</h2>
      <hr>
      <p>Now that we got new insights from our previously tested prototypes. It was time to create a high-fidelity
        prototype. A tip our client had given us, was the fact that the text in a prototype is very important as well.
        And something that proves more difficult to perfect than it would appear. Our previous prototype did not really
        have any text yet, so this was something we wanted to include in our new prototypes.</p>
      <p>Our client also indicated that they were interested in both types of prototypes: the step-prototype, which
        Wendy,
        Diederik, Perry and I made. And the conversational prototype Jessica and Diana made. As we did not have enough
        insights to decide which prototype would be a betetr solution, we decided to make a high-fidelity prototype of
        both. I joined Jessica and Diana to give some new perspectives.</p>
      <p>The goal of this prototype was to create a solution that felt more natural and personal to users. It resembles
        a conventional chat application that most people are already familiar with. We suspected that talking to a real
        person would bring more comfort and ease to the users.</p>
      <p>If you want to see the prototype for ourselves you can check it out <a
          href="https://www.figma.com/proto/by1e1MWPNkK7bKOncU5BnO/Novum-prototype?node-id=1%3A2&scaling=min-zoom"
          target="_blank" rel="noopener noreferrer">here</a>. A sample of the prototype can be seen below:</p>
      <img style="height: 80vh;" src="../assets/img/novum/sprint4/prototype.gif" alt="">
      <br>
      <p>We changed the name to <i>RijksVolmacht</i> as we thought the old name could be confusing and unclear. Along
        with this, we made sure to use the styleguide provided for all government services. Their styleguide can be
        found <a href="https://www.rijkshuisstijl.nl/" target="_blank" rel="noopener noreferrer">here</a>. We felt that
        using this style would give people trust in the application as it looked familiar.</p>
      <p>Due to limited time, we were not able to do extensive testing. We were able to test the prototype on four
        people. The insights we got go as follows:</p>
      <ul>
        <li>The app reminded them of WhatsApp, felt familiar.</li>
        <li>Felt very personal. (Suggestion that a video call might be even more personal)</li>
        <li>One user mentioned sometimes having trouble using DigId.</li>
      </ul>

      <!-- End results -->
      <h2 class="title is-2">End results</h2>
      <hr>
      <p>Once we and the other part of our group had finished testing our prototype we decided to create a summary of
        our project and findings. The summary goes as follows:</p>
      <b>UX Design:</b>
      <ul>
        <li>There are elderly that find it difficult to switch to digitalization, but there are also many that didn’t
          have any problems with it.</li>
        <li>Familiar gestures on phones can be difficult (e.g. swiping).</li>
        <li>A lot of elderly still prefer physical envelopes, so belastingdienst found out that they can’t fully
          digitize.</li>
        <li>Elderly seem to prefer using DigiD on computers instead of on their mobile phones.</li>
        <li>Many elderly stick to the apps they know/learn.</li>
        <li>Automated emails can be a bit difficult, elderly sometimes don’t immediately realize that they can not
          respond to these email addresses.</li>
        <li>Receivers are willing to help their family(elderly).</li>
      </ul>

      <b>Privacy & Safety</b>
      <ul>
        <li>Quite a few elderly don’t really like the idea of all of their information online, what is being done to
          protect them? </li>
        <li>There is a high trust between elderly and their close family such as children and spouses.</li>
      </ul>

      <b>POA Knowledge</b>
      <ul>
        <li>Almost all are aware of what power of attorney is.</li>
        <li>Almost no one has considered making arrangements for giving power of attorney when it is time.</li>
        <li>Elderly prefer to not think too much yet about giving power of attorney.</li>
        <li>A lot of elderly prefer using a notary for things they think might be too difficult to do themselves (tax
          administrations, giving and receiving power of attorney).</li>
        <li>In couples POA is (unofficially) given to their partner when necessary.</li>
      </ul>

      <b>Target Group</b>
      <ul>
        <li>After we interviewed our target group a lot of the time they are the giver instead of the receiver. Our
          target group will become the giver in 10 to 20 years.</li>
        <li>A lot of elderly find personal connections important in doing business.</li>
      </ul>

      <b>Current Method</b>
      <ul>
        <li>For power of attorney an official certificate needed: handed out by official institutions, costs money.</li>
        <li>Belastingdienst assumes everyone is mentally capable to do their taxes unless
          given reason to think otherwise.</li>
        <li>Even when power of attorney is given the giver still needs to sign for a lot of stuff.</li>
      </ul>

      <b>Insights Survey (Givers & Receivers)</b>
      <ul>
        <li>Most of the people are capable of using a computer (technology). </li>
        <li>A majority hasn’t given POA in our target group (76,9%)</li>
        <li>Why people don’t give POA: too young, not necessary, do not want to think about it.</li>
      </ul>

      <b>Expert interview:</b>
      <ul>
        <li>The elderly people are not thinking about it.</li>
        <li>When the doctor or a trust person starts with giving the awareness the elderly will start earlier with the
          process of giving power of attorney.</li>
        <li>They delay it, because it is very complex.</li>
      </ul>

      <b>Step interface prototype</b>
      <ul>
        <li>Elderly often prefer bigger letters.</li>
        <li>Elderly struggle when there are several colors of text in a paragraph.</li>
      </ul>

      <b>Assistance prototype</b>
      <ul>
        <li>Chat function recognizable from whatsapp, makes it easy to understand.</li>
        <li>Idea of a chat is more personal than via email, but the option to (video)call could make it even more
          personal.</li>
      </ul>

      <p>Analysing these insights, we came up with an advice for Novum:</p>
      <b>Our advice:</b>
      <i>
        <p>The step-interface prototype is an easy and accessible way of giving power of attorney.
          The assistance prototype is a new way of giving power of attorney. It’s a personal way, and feels like
          whatsapping with someone.
          Both require more testing to conclude which one is the best solution.
        </p>
        <p>
          Both require more user tests to see the next improvement points.
          The assistance prototype still needs testing to see if it can exist on its own or whether it needs a platform,
          e.g. a website, that will lead the elderly to the app.
          Another unanswered question is whether both prototypes could have the same style script instead of two
          different
          once
        </p>
        <p>Both prototypes still need to be further developed into a MVP.

          On top of that there still is a lack of awareness about giving POA to the target audience, a research about
          how
          to raise more awareness is still needed.
        </p>
      </i>
      <br>
      <p>Our final meeting with Novum was our end presentation that included our teachers. Here we summarized the
        project and what we did in the last sprint. The full presentation can be found <a
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/novum%2FSprint%204%2FFinal-Presentation.pdf?alt=media&token=2ab2ad7a-bee5-4e97-a3e3-777512d0fa80"
          target="_blank" rel="noopener noreferrer">here</a>.</p>

      <!-- Reflection -->
      <h2 class="title is-2">Reflection</h2>
      <hr>
      <p>This sprint we were in a bit of a hurry. Early on we decided we wanted to create the high-fidelity prototype
        and test them. This caused us to have to work very quickly before the deadline. I think we managed to create
        some good prototypes with valuable insights. I do wish we had more time to test.</p>
      <p>The teamwork also went a lot better this sprint. There were no more frustrations and everyone did their part.
      </p>
      <p>Overall, I am very satisfied with how this project turned out and learned a lot of new skills along the way. I
        became a better team-player, got introduced to human-centered design, prototyping, testing, brainstorming, and
        more.</p>
    </div>
  </div>
</div>
