<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sprint 4 - The end
      </h1>
      <h2 class="subtitle">
        Final prototypes, testing, and wrapping up the project.
      </h2>
    </div>
  </div>
</section>

<div class="content">
  <div class="columns is-multiline">
    <div class="column is-12">
      <!-- Introduction -->
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <p> During this sprint we cleared up the confusion and frustration from last sprint. We decided that instead of
        having a Scrum master we would split up its tasks among each member. This way every member was responsible for
        one small task in particular.
      </p>
      <p>The goal for this sprint was to create high-fidelity prototypes with the feedback we got from last sprint. We
        would then test them and conclude our final insights.
        For the wrapping up of the project we made a transferbility document and files that include all the insights and
        work we performed during the last few months to give to Novum.
      </p>

      <!-- High-fidelity prototype -->
      <h2 class="title is-2">High-fidelity prototype</h2>
      <hr>
      <p>Now that we got new insights from our previously tested prototypes. It was time to create a high-fidelity
        prototype. A tip our client had given us, was the fact that the text in a prototype is very important as well.
        And something that proves more difficult to perfect than it would appear. Our previous prototype did not really
        have any text yet, so this was something we wanted to include in our new prototypes.</p>
      <p>Our client also indicated that they were interested in both types of prototypes: the step-prototype, which
        Wendy,
        Diederik, Perry and I made. And the conversational prototype Jessica and Diana made. As we did not have enough
        insights to decide which prototype would be a betetr solution, we decided to make a high-fidelity prototype of
        both. I joined Jessica and Diana to give some new perspectives.</p>
      <p>The goal of this prototype was to create a solution that felt more natural and personal to users. It resembles
        a conventional chat application that most people are already familiar with. We suspected that talking to a real
        person would bring more comfort and ease to the users.</p>
      <p>If you want to see the prototype for ourselves you can check it out <a
          href="https://www.figma.com/proto/by1e1MWPNkK7bKOncU5BnO/Novum-prototype?node-id=1%3A2&scaling=min-zoom"
          target="_blank" rel="noopener noreferrer">here</a>. A sample of the prototype can be seen below:</p>
      <img style="height: 80vh;" src="../assets/img/novum/sprint4/prototype.gif" alt="">
      <br>
      <p>We changed the name to <i>RijksVolmacht</i> as we thought the old name could be confusing and unclear. Along
        with this, we made sure to use the styleguide provided for all government services. Their styleguide can be
        found <a href="https://www.rijkshuisstijl.nl/" target="_blank" rel="noopener noreferrer">here</a>.</p>

      <!-- Reflection -->
      <h2 class="title is-2">Reflection</h2>
      <hr>
      <p></p>
    </div>
  </div>
</div>
