.is-info {
  background-image: url("https://content.presspage.com/uploads/1593/1920_innovatielab-fhict.jpg?10000");
  // background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  min-height: 90vh;
  padding: 5%;
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #f8f9fa;
}

hr {
  background-color: #363636;
}
