<!-- Hero -->
<section class="hero is-info is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Digital Experience Design Portfolio
      </h1>
      <h2 class="subtitle">
        By Paul Evers
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns">
    <div class="column">
      <h2 class="title is-2">Welcome</h2>
      <hr>
      <p>Welcome to my DXD portfolio. For the last few months I have been following the Digital Experience Design minor
        at Fontys.
        Originally, I am a software engineering student, but during my study I became increasingly interested in design
        and human-technology
        interaction. That is why I chose to follow this minor.
      </p>
      <p>On this website you can view each subject I followed. They include the exercises I did, what I learned from
        them, and a reflection. For my group project I worked for Novum. The Novum project is divided in four sprints.
      </p>
      <p>I hope this portfolio gives you a greater insight into my learning progress over the last few months.</p>
    </div>
  </div>
</div>
