.is-info {
  background-image: url("https://www.bossers-fitters.nl/storage/real_estate_photos/56/72650530.jpg");
  // background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  min-height: 90vh;
  padding: 5%;
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #f8f9fa;
}

hr {
  background-color: #363636;
}
