<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Vega Collaboration
      </h1>
      <h2 class="subtitle">
        A collaboration with students from the South-African Vega School
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <!-- Introduction -->
    <div class="column is-12">
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <p>During the first weeks of my minor Digital Experience Design we got the oppurtunity to collaborate with the
        Johannesburg-based Vega School. Together with four other students, 2 who where from South-Africa, we worked on a
        project
        centering around transmedial world-building and storytelling. We were given the task to watch the documentary
        <i>Before The Flood</i>
        and build a transmedial world around it using three concepts. This page describes the process and our results of creating this world.
        Followed by a brief
        personal reflection of the assignment.
      </p>
    </div>

    <!-- Research -->
    <div class="column is-12">
      <h2 class="title is-3">Initial Research and Concepts</h2>
      <hr>
      <p>
        During the first lessons we got paired with our teammates. Because of Covid-19 and the fact that we worked with students
        from South-Africa, it was logical to communicate and work together over Teams. The five of us got together and made some
        brief introductions. We set up our Google Drive and exchanged numbers to create a Whatsapp group. We quickly decided 
        to each watch the documentary again and afterwards start analyzing together.
      </p>
      <p>
        After we got back together we started analyzing the documentary and getting the most important information of the documentary
        in a single file. For us to create a successful transmedial campaign of <i>Before the Flood</i>, we needed get a proper understanding
        of the world and story the documentary was portraying. While watching the documentary we looked out for several things:
      </p>
      <ul>
        <li><b>Locations:</b> What locations where shown throughout the movie and why?</li>
        <li><b>People:</b> What people where presented, what did they talk about and add to the narrative?</li>
        <li><b>Protagonist/Antagonist:</b> Who or what was the hero of the story? And who was the villain.</li>
        <li><b>Message:</b> What is the overall message and goal of the documentary?</li>
      </ul>
      <p>The results of our research document can be found 
          <a target="_about:blank" href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/vega%2FMovie%20Analysis%20Before%20The%20Flood.pdf?alt=media&token=1f53dd3e-c231-4bbd-962a-880137ecb71b">
            here</a>.
        This research would later help us find <i>hooks</i> in the original documentary to expand the transmedial universe.
        Along with this, the analysis helped us to start working on our campaign analysis. In the campaign analysis we looked at the target audience we wanted
        to reach, created a problem statement, 
        </p>
    </div>

    <!-- Reflection -->
    <div class="column is-12">
      <h2 class="title is-3">Reflection</h2>
      <hr>
      <p>

      </p>
      <img src="../assets/img/vega/Badges05.jpg" alt="">
    </div>
  </div>
</div>
