<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Vega Collaboration
      </h1>
      <h2 class="subtitle">
        A collaboration with students from the South-African Vega School
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <!-- Introduction -->
    <div class="column is-12">
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <p>During the first weeks of my minor Digital Experience Design we got the oppurtunity to collaborate with the
        Johannesburg-based Vega School. Together with four other students, 2 who where from South-Africa, we worked on a
        project
        centering around transmedial world-building and storytelling. We were given the task to watch the documentary
        <i>Before The Flood</i>
        and build a transmedial world around it using three concepts. This page describes the process and our results of
        creating this world.
        Followed by a brief
        personal reflection on the assignment.
      </p>
    </div>

    <!-- Research -->
    <div class="column is-12">
      <h2 class="title is-3">Research</h2>
      <hr>
      <p>
        During the first lessons we got paired with our teammates. Because of Covid-19 and the fact that we worked with
        students
        from South-Africa, it was logical to communicate and work together over Teams. The five of us got together and
        made some
        brief introductions. We set up our Google Drive and exchanged numbers to create a Whatsapp group. We quickly
        decided
        to each watch the documentary again and afterwards start analyzing together.
      </p>
      <p>
        After we got back together we started analyzing the documentary and getting the most important information of
        the documentary
        in a single file. For us to create a successful transmedial campaign of <i>Before the Flood</i>, we needed get a
        proper understanding
        of the world and story the documentary was portraying. While watching the documentary we looked out for several
        things:
      </p>
      <ul>
        <li><b>Locations:</b> What locations where shown throughout the movie and why?</li>
        <li><b>People:</b> What people where presented, what did they talk about and add to the narrative?</li>
        <li><b>Protagonist/Antagonist:</b> Who or what was the hero of the story? And who or what was the villain.</li>
        <li><b>Message:</b> What is the overall message and goal of the documentary?</li>
      </ul>
      <p>The results of our research document can be found
        <a target="_about:blank"
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/vega%2FMovie%20Analysis%20Before%20The%20Flood.pdf?alt=media&token=1f53dd3e-c231-4bbd-962a-880137ecb71b">
          here</a>.
        This research would later help us find <i>hooks</i> in the original documentary to expand the transmedial
        universe.
        Along with this, the analysis helped us to start working on our campaign analysis.
      </p>
      <p>
        For the campaign analysis we looked at the target audience we wanted to reach, created a problem statement, set
        up campaign goals,
        and started to think of concepts. The campaign analysis can be found <a target="_about:blank"
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/vega%2FCampaign%20Analysis%20Before%20The%20Flood.pdf?alt=media&token=665437ea-1609-4542-9c93-988eec0580e2">
          here</a>.
      </p>
    </div>

    <!-- First concepts -->
    <div class="column is-12">
      <h2 class="title is-3">First concepts</h2>
      <hr>
      <p>
        After discussing the research we had a brain-storm session to come up with concepts for the transmedial
        campaign.
        From this session we chose our three favourite concepts and worked them further out.
      </p>

      <mat-accordion>
        <!-- Concept 1 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #1: Transmedial TV-Show</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="table is-striped">
            <tbody>
              <tr>
                <td><b>Title:</b></td>
                <td>The Flood</td>
              </tr>
              <tr>
                <td><b>Main character:</b></td>
                <td>16 year-old Island girl from Polynesia</td>
              </tr>
              <tr>
                <td><b>Hook:</b></td>
                <td>Daughter of the woman that spoke at Paris Climate Conference</td>
              </tr>
              <tr>
                <td><b>World:</b></td>
                <td>In the near future on a tropical island that heads from a eutopa to a dystopia</td>
              </tr>
              <tr>
                <td><b>Migration:</b></td>
                <td>Prominent characters have fictional social media viewers can interact with + the characters of the
                  show play the ‘After the Flood’ game + show starts with the moment mother of main character speaks at
                  Paris Climate Conference + is watched by Zhang Wei.</td>
              </tr>
              <tr>
                <td><b>Images</b></td>
                <td><img src="../assets/img/vega/flood_pic.png" alt=""></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>

        <!-- Concept 2 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #2: Youtube Influencer</b>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <table class="table is-striped">
            <tbody>
              <tr>
                <td><b>Title:</b></td>
                <td>The Huang Zhang Channel</td>
              </tr>
              <tr>
                <td><b>Main character:</b></td>
                <td>Chinese teenage up-and-coming gamer</td>
              </tr>
              <tr>
                <td><b>Hook:</b></td>
                <td>Lives in the highly polluted city from the documentary</td>
              </tr>
              <tr>
                <td><b>World:</b></td>
                <td>Set in current times without corona in a Chinese city plagued by smog</td>
              </tr>
              <tr>
                <td><b>Migration:</b></td>
                <td>Character posts on Youtube channel where it interacts with his viewers + watches the TV-show + is
                  sponsored by game developers of ‘After the Flood’ </td>
              </tr>
              <tr>
                <td><b>Images</b></td>
                <td><img src="../assets/img/vega/zang_pic.png" alt=""></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>

        <!-- Concept 2 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #3: AR-Game</b>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <table class="table is-striped">
            <tbody>
              <tr>
                <td><b>Title:</b></td>
                <td>After the Flood</td>
              </tr>
              <tr>
                <td><b>Main character:</b></td>
                <td>The player</td>
              </tr>
              <tr>
                <td><b>Hook:</b></td>
                <td>Panels from start of documentary</td>
              </tr>
              <tr>
                <td><b>World:</b></td>
                <td>Set in 100 years from after the docu. Set in the real world mixed with a digital one. Starts as a
                  dystopia, heads into a utopia depending on the player.</td>
              </tr>
              <tr>
                <td><b>Migration:</b></td>
                <td>Title refers to documentary + is played by the tv-show characters as well as Zhang Wei.</td>
              </tr>
              <tr>
                <td><b>Images</b></td>
                <td><img src="../assets/img/vega/afterflood_pic.png" alt=""></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <p>
        We presented these concepts to our classmates and teachers in a presentation.
      </p>
    </div>

    <!-- Second concepts -->
    <div class="column is-12">
      <h2 class="title is-3">Second concepts</h2>
      <hr>
      <p>
        After discussing the research we had a brain-storm session to come up with concepts for the transmedial
        campaign.
        From this session we chose our three favourite concepts and worked them further out.
      </p>

      <mat-accordion>
        <!-- Concept 1 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #1: Transmedial TV-Show</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="table is-striped">
            <tbody>
              <tr>
                <td><b>Title:</b></td>
                <td>The Flood</td>
              </tr>
              <tr>
                <td><b>Main character:</b></td>
                <td>16 year-old Island girl from Polynesia</td>
              </tr>
              <tr>
                <td><b>Hook:</b></td>
                <td>Daughter of the woman that spoke at Paris Climate Conference</td>
              </tr>
              <tr>
                <td><b>World:</b></td>
                <td>In the near future on a tropical island that heads from a eutopa to a dystopia</td>
              </tr>
              <tr>
                <td><b>Migration:</b></td>
                <td>Prominent characters have fictional social media viewers can interact with + the characters of the
                  show play the ‘After the Flood’ game + show starts with the moment mother of main character speaks at
                  Paris Climate Conference + is watched by Zhang Wei.</td>
              </tr>
              <tr>
                <td><b>Images</b></td>
                <td><img src="../assets/img/vega/flood_pic.png" alt=""></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>

        <!-- Concept 2 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #2: Youtube Influencer</b>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <table class="table is-striped">
            <tbody>
              <tr>
                <td><b>Title:</b></td>
                <td>The Huang Zhang Channel</td>
              </tr>
              <tr>
                <td><b>Main character:</b></td>
                <td>Chinese teenage up-and-coming gamer</td>
              </tr>
              <tr>
                <td><b>Hook:</b></td>
                <td>Lives in the highly polluted city from the documentary</td>
              </tr>
              <tr>
                <td><b>World:</b></td>
                <td>Set in current times without corona in a Chinese city plagued by smog</td>
              </tr>
              <tr>
                <td><b>Migration:</b></td>
                <td>Character posts on Youtube channel where it interacts with his viewers + watches the TV-show + is
                  sponsored by game developers of ‘After the Flood’ </td>
              </tr>
              <tr>
                <td><b>Images</b></td>
                <td><img src="../assets/img/vega/zang_pic.png" alt=""></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>

        <!-- Concept 2 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #3: AR-Game</b>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <table class="table is-striped">
            <tbody>
              <tr>
                <td><b>Title:</b></td>
                <td>After the Flood</td>
              </tr>
              <tr>
                <td><b>Main character:</b></td>
                <td>The player</td>
              </tr>
              <tr>
                <td><b>Hook:</b></td>
                <td>Panels from start of documentary</td>
              </tr>
              <tr>
                <td><b>World:</b></td>
                <td>Set in 100 years from after the docu. Set in the real world mixed with a digital one. Starts as a
                  dystopia, heads into a utopia depending on the player.</td>
              </tr>
              <tr>
                <td><b>Migration:</b></td>
                <td>Title refers to documentary + is played by the tv-show characters as well as Zhang Wei.</td>
              </tr>
              <tr>
                <td><b>Images</b></td>
                <td><img src="../assets/img/vega/afterflood_pic.png" alt=""></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
      <p>

      </p>
    </div>

    <!-- Reflection -->
    <div class="column is-12">
      <h2 class="title is-3">Reflection</h2>
      <hr>
      <p>

      </p>
      <img src="../assets/img/vega/Badges05.jpg" alt="">
    </div>
  </div>
</div>
