<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Vega Collaboration
      </h1>
      <h2 class="subtitle">
        A collaboration with students from the South-African Vega School
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <!-- Introduction -->
    <div class="column is-12">
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <p>During the first weeks of my minor Digital Experience Design we got the oppurtunity to collaborate with the
        Johannesburg-based Vega School. Together with four other students, 2 who where from South-Africa, we worked on a
        project
        centering around transmedial world-building and storytelling. We were given the task to watch the documentary
        <i>Before The Flood</i>
        and build a transmedial world around it using three concepts. This page describes the process and our results of
        creating this world.
        Followed by a brief
        personal reflection on the assignment.
      </p>
    </div>

    <!-- Research -->
    <div class="column is-12">
      <h2 class="title is-3">Research</h2>
      <hr>
      <p>
        During the first lessons we got paired with our teammates. Because of Covid-19 and the fact that we worked with
        students
        from South-Africa, it was logical to communicate and work together over Teams. The five of us got together and
        made some
        brief introductions. We set up our Google Drive and exchanged numbers to create a Whatsapp group. We quickly
        decided
        to each watch the documentary again and afterwards start analyzing together.
      </p>
      <p>
        After we got back together we started analyzing the documentary and getting the most important information of
        the documentary
        in a single file. For us to create a successful transmedial campaign of <i>Before the Flood</i>, we needed get a
        proper understanding
        of the world and story the documentary was portraying. While watching the documentary we looked out for several
        things:
      </p>
      <ul>
        <li><b>Locations:</b> What locations where shown throughout the movie and why?</li>
        <li><b>People:</b> What people where presented, what did they talk about and add to the narrative?</li>
        <li><b>Protagonist/Antagonist:</b> Who or what was the hero of the story? And who or what was the villain.</li>
        <li><b>Message:</b> What is the overall message and goal of the documentary?</li>
      </ul>
      <p>The results of our research document can be found
        <a target="_about:blank"
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/vega%2FMovie%20Analysis%20Before%20The%20Flood.pdf?alt=media&token=1f53dd3e-c231-4bbd-962a-880137ecb71b">
          here</a>.
        This research would later help us find <i>hooks</i> in the original documentary to expand the transmedial
        universe.
        Along with this, the analysis helped us to start working on our campaign analysis.
      </p>
      <p>
        For the campaign analysis we looked at the target audience we wanted to reach, created a problem statement, set
        up campaign goals,
        and started to think of concepts. The campaign analysis can be found <a target="_about:blank"
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/vega%2FCampaign%20Analysis%20Before%20The%20Flood.pdf?alt=media&token=665437ea-1609-4542-9c93-988eec0580e2">
          here</a>.
      </p>
    </div>

    <!-- First concepts -->
    <div class="column is-12">
      <h2 class="title is-3">Initial concepts</h2>
      <hr>
      <p>
        After discussing the research we had a brain-storm session to come up with concepts for the transmedial
        campaign.
        From this session we chose our three favourite concepts and worked them further out.
      </p>

      <mat-accordion>
        <!-- Concept 1 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #1: Transmedial TV-Show</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="table is-striped">
            <tbody>
              <tr>
                <td><b>Title:</b></td>
                <td>The Flood</td>
              </tr>
              <tr>
                <td><b>Main character:</b></td>
                <td>16 year-old Island girl from Polynesia</td>
              </tr>
              <tr>
                <td><b>Hook:</b></td>
                <td>Daughter of the woman that spoke at Paris Climate Conference</td>
              </tr>
              <tr>
                <td><b>World:</b></td>
                <td>In the near future on a tropical island that heads from a eutopa to a dystopia</td>
              </tr>
              <tr>
                <td><b>Migration:</b></td>
                <td>Prominent characters have fictional social media viewers can interact with + the characters of the
                  show play the ‘After the Flood’ game + show starts with the moment mother of main character speaks at
                  Paris Climate Conference + is watched by Zhang Wei.</td>
              </tr>
              <tr>
                <td><b>Images</b></td>
                <td><img src="../assets/img/vega/flood_pic.png" alt=""></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>

        <!-- Concept 2 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #2: Youtube Influencer</b>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <table class="table is-striped">
            <tbody>
              <tr>
                <td><b>Title:</b></td>
                <td>The Huang Zhang Channel</td>
              </tr>
              <tr>
                <td><b>Main character:</b></td>
                <td>Chinese teenage up-and-coming gamer</td>
              </tr>
              <tr>
                <td><b>Hook:</b></td>
                <td>Lives in the highly polluted city from the documentary</td>
              </tr>
              <tr>
                <td><b>World:</b></td>
                <td>Set in current times without corona in a Chinese city plagued by smog</td>
              </tr>
              <tr>
                <td><b>Migration:</b></td>
                <td>Character posts on Youtube channel where it interacts with his viewers + watches the TV-show + is
                  sponsored by game developers of ‘After the Flood’ </td>
              </tr>
              <tr>
                <td><b>Images</b></td>
                <td><img src="../assets/img/vega/zang_pic.png" alt=""></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>

        <!-- Concept 3 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #3: AR-Game</b>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <table class="table is-striped">
            <tbody>
              <tr>
                <td><b>Title:</b></td>
                <td>After the Flood</td>
              </tr>
              <tr>
                <td><b>Main character:</b></td>
                <td>The player</td>
              </tr>
              <tr>
                <td><b>Hook:</b></td>
                <td>Panels from start of documentary</td>
              </tr>
              <tr>
                <td><b>World:</b></td>
                <td>Set in 100 years from after the docu. Set in the real world mixed with a digital one. Starts as a
                  dystopia, heads into a utopia depending on the player.</td>
              </tr>
              <tr>
                <td><b>Migration:</b></td>
                <td>Title refers to documentary + is played by the tv-show characters as well as Zhang Wei.</td>
              </tr>
              <tr>
                <td><b>Images</b></td>
                <td><img src="../assets/img/vega/afterflood_pic.png" alt=""></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>

      <p style="margin-bottom: 1em; margin-top: 1em;">
        For each concept we tried to tie it in the <i>Before the Flood</i> universe and create something unique.
        We presented these concepts to our classmates and teachers in a presentation. The feedback we got from our
        teachers
        made clear that there were several problems with our concepts and our understanding of the assignment.
      </p>
      <p>
        Primarily, our concepts lacked a proper story and an overarching connection. In addition to this, there were no
        clear
        protagonists and antagonists, and we should better think on how to involve the viewer.
      </p>
    </div>

    <!-- Revised concepts -->
    <div class="column is-12">
      <h2 class="title is-3">Revised concepts</h2>
      <hr>
      <p>
        After the feedback we got from our teachers we decided to fix our concepts. We quickly figured out it was better
        to first start creating the overall story and then let the concepts flow naturally out from there.
      </p>
      <p>
        <b>Story and world:</b>
        The story world is just like our real world, the difference is that the four elements, water, fire, earth and
        wind, are alive. They’ve let the
        humans live on earth peacefully for thousands of years, up until the humans started to use a more advanced
        technology which then started polluting the world more and more without knowing they were polluting it. The
        elementals were in a long sleep because they didn't have to worry about the world for centuries. But once they
        realized that the climate was changing rapidly, they woke up and started fighting back.
      </p>
      <p><b>Characters:</b></p>
      <ul>
        <li><b>Earth Elemental:</b> The earth elemental is the leader of the four, he was the first one to notice what
          the humans were doing to the earth. He is very angry and started punishing people by forcing droughts and
          attacking villages with small earthlike elemental soldiers.</li>
        <li><b>Water Elemental:</b> The water elemental is very impulsive, she doesn’t think before she acts. But she
          can also be very forgiving when she realizes what she has done. She can control the water and make big waves
          that can flood villages and drown people.</li>
        <li><b>Fire Elemental:</b> The fire elemental doesn’t want to hurt people, she is very shy and doesn’t turn up
          as frequently as the other elemental. The other elementals try to force her to burn villages by making
          wildfires, but she only does so when other elementals ask her to do so. Which makes her loyal to her
          companions.</li>
        <li><b>Air Elemental:</b> The air elemental is sneaky, he can become almost invisible and is trying to playfully
          punish the people. He is forcing strong winds to annoy people, sometimes he is making storms to force people
          into their houses and he is trying to intoxicate the people by making dense smog into the city.</li>
        <li><b>Humans:</b> Humans are very smart creatures, but they only think about themselves as species, they’re
          very selfish. By creating smart technologies, infrastructure, buildings, and cities, they’re polluting the
          world more than ever without realizing it. </li>
      </ul>

      <p>A detailed explanation of our story world, characters, timeline, etc. can be found in our
        <a href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/vega%2FFinal%20Draft%20Vega.pdf?alt=media&token=37f06247-84d8-4134-9d85-b8d23617aade"
          target="_blank" rel="noopener noreferrer">final draft</a>.
      </p>

      <p>Using this more detailed story world it was easier to see what was missing in our previous concepts. We used
        this new information to
        revise our old concepts and come up with new ideas. The revised concepts can be found below:
      </p>

      <mat-accordion>
        <!-- Concept 1 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #1: The Netflix Show - The Flood</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="table is-striped">
            <tbody>
              <tr>
                <td><b>Title:</b></td>
                <td>The Flood</td>
              </tr>
              <tr>
                <td><b>Story:</b></td>
                <td>The Introductions begins with a flood on the tropical island of Polynesia, with the
                  character/protagonist Selina being separated from her friends and family due to the wave of the
                  flooding. She is forced to survive on her own as the floodwaters continue to rise, she desperately
                  searches for her tarp clearing the waste matters in the water and in doing so the water elemental
                  notices her actions of removing waste from the water. Later as the second wave of the flood comes in
                  from the shore, she and the water elemental realize she has nowhere to escape to. In the spur of the
                  moment, the elemental decides to save her because of her actions. Selina now understands that cleaning
                  up waste from the water makes the flooding go away. The elemental and she find her people together and
                  Selina explains how they can make the water elemental less angry so he doesn’t cause any more
                  flooding.</td>
              </tr>
              <tr>
                <td><b>Narrative timeline:</b></td>
                <td>Present (2020)</td>
              </tr>
              <tr>
                <td><b>Protagonist:</b></td>
                <td>Selina, a 16-year-old island girl</td>
              </tr>
              <tr>
                <td><b>Antagonist:</b></td>
                <td>Water elemental</td>
              </tr>
              <tr>
                <td><b>Images</b></td>
                <td>
                  <img src="../assets/img/vega/flood_sketch.png" alt="">
                  <img src="../assets/img/vega/flood_mood.png" alt="">
                </td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>

        <!-- Concept 2 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #2: The Instagram Comic Book - SmogShot</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="table is-striped">
            <tbody>
              <tr>
                <td><b>Title:</b></td>
                <td>SmogShot</td>
              </tr>
              <tr>
                <td><b>Story:</b></td>
                <td>The story starts with a photographer, Imae, trying to make nice pictures in the city. However, Imae
                  realizes that the smog holds her back from making the pictures of an otherwise beautiful city. So she
                  starts researching the cause of the smog and tries to capture this. The air elemental sees her effort
                  and can also see the influence she has on the other inhabitants of the city. Because big industrial
                  companies are hugely shamed and becoming bankrupt, the smog clears up. The elemental, hesitant at
                  first, becomes more friendly and Imae captures the city in its natural beauty again.</td>
              </tr>
              <tr>
                <td><b>Narrative timeline:</b></td>
                <td>Present (2020)</td>
              </tr>
              <tr>
                <td><b>Protagonist:</b></td>
                <td>Imae, a 20-year-old photographer living in a very smog heavy city</td>
              </tr>
              <tr>
                <td><b>Antagonist:</b></td>
                <td>Air elemental</td>
              </tr>
              <tr>
                <td><b>Idea:</b></td>
                <td>The idea is to post a picture or a few pictures per day on Instagram, to eventually get a whole
                  comic book style story on Instagram.</td>
              </tr>
              <tr>
                <td><b>Images</b></td>
                <td> <img src="../assets/img/vega/smog_sketch.png" alt="">
                  <img src="../assets/img/vega/smog_mood.png" alt=""></td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>

        <!-- Concept 3 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Concept #3: The Single Player Game - Earthwake</b>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="table is-striped">
            <tbody>
              <tr>
                <td><b>Title:</b></td>
                <td>EarthWake</td>
              </tr>
              <tr>
                <td><b>Story:</b></td>
                <td> You play with Miguel, who is an animal rescuer near the Amazon rainforest. There are loads of
                  deforestation areas in the Amazon rainforest where helpless animals are fighting for survival. As
                  Miguel, you want to save those animals, but the earth elemental gets in the way. The elemental sends
                  his minions out there to fight you because he’s angry at the humans for destroying his forest. When
                  the minions have almost killed you, you realize that fighting them won’t help those animals, nor you,
                  so you decide to have a different approach: helping earth instead of fighting it. You discover that
                  the elemental is very angry at lumberjacks because they’re the ones who are cutting down the trees and
                  you help earth destroy those lumberjacks. It takes the earth elemental awhile to realize what you’ve
                  been doing because the other elementals have shown up as well. But after some convincing from the
                  other elementals, earth realizes that humans are fighting his fight and he gives the earth its soil
                  back so that the Amazon rainforest can grow again.</td>
              </tr>
              <tr>
                <td><b>Narrative timeline:</b></td>
                <td>Present (2020)</td>
              </tr>
              <tr>
                <td><b>Protagonist:</b></td>
                <td>Miguel, an 18-year-old animal rescuer who lives near the Amazon rainforest</td>
              </tr>
              <tr>
                <td><b>Antagonist:</b></td>
                <td>Earth elemental and lumberjacks</td>
              </tr>
              <tr>
                <td><b>Images</b></td>
                <td>
                  <img src="../assets/img/vega/earth_sketch.png" alt="">
                  <img src="../assets/img/vega/earth_mood.png" alt="">
                </td>
              </tr>
            </tbody>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
      <p>

      </p>
    </div>

    <!-- Reflection -->
    <div class="column is-12">
      <h2 class="title is-3">Reflection</h2>
      <hr>
      <p>
        I think the Vega collaboration worked as a great introduction to DXD for the first few weeks. As someone who had
        limited knowledge of design going into the minor, it was a great way to start experimenting with story creation
        and different kinds of media. In the beginning I was not sure what exactly was expected from us. But as time
        went on and I was able to speak with teachers on our work, it became more evident and more clear throughout the
        weeks.
      </p>
      <p>The collaboration with the South-Africans was a unique experience. I noticed several different ways of
        approching work between us, the dutch students, and the south-africans. Some were practical such as that they
        often experienced electricity issues or internet connectivity issues that hindered our work. But I also noticed
        that the south-african students were more withholding during discussions. They were often more quiet and did
        most of the work on their own time when our Teams meetings had ended.</p>
      <p>It was interesting to see these differences. I tried to be as open-minded as possible to overcome these
        differences so we could create a project we were proud of. I think we succeeded in this, and our teachers
        rewarded us with a collaboration award during the final assessment.</p>
      <img src="../assets/img/vega/Badges05.jpg" alt="">
    </div>
  </div>
</div>
