<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Human Centered Design
      </h1>
      <h2 class="subtitle">
        Putting people at the forefront
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <!-- Introduction -->
    <div class="column is-12">
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <p>The last few months we have been getting classes on Human Centered Design. Human Centered Design is about
        putting the user at the center of the design process. We have been taught on the importance of the user and how
        to involve them during the process. We used this mainly in the group project for <i>Novum</i>. But we also used
        it personally to experience Human Centered Design firsthand. The learning goal that was given to us goes as
        follows:</p>

      <h3 class="is-3 quote">
        <i>
          "The student applies a Human Centered Design process for interactive products or services"
        </i>
      </h3>
      <!-- Design Probes -->
      <h2 class="title is-3">Design Probes</h2>
      <hr>
      <p>
        Design probes are a creative way to get information from your user or target audience. They are usually a more
        entertaining for the user to use than, for example, a survey. With sustainability in mind, we were given the
        assignment to gather information from users, which for this purpose were our classmates, using a design probe.
        Together with two other students we came up with a few probes. After testing we would choose two probes to let
        other classmates test.
      </p>
      <mat-accordion>
        <!-- Probe 1 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Probe 1
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li>First, let the user connect the pre-chosen rubbish with the bin they think it should belong in.</li>
            <li>Second, let the user upload its own rubbish and tell which bin they’ve put it in.</li>
            <li>Third, let the user again connect the pre-chosen rubbish with the bin they think it should belong in,
              but
              this time the pre-chosen rubbish is harder to place.</li>
          </ul>
          <p>This probe gives us information of the knowledge around recycling among users. It also activates them to
            actively think about how to seperate garbage.</p>
        </mat-expansion-panel>
        <!-- Probe 2 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Probe 2
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li>Let the user go grocery shopping.</li>
            <li>After shopping, let them make a ‘grocery diary’ where they upload a picture where all the groceries are
              visible including the bag they’ve used to put the groceries in. Give also options for them to write down
              their mode of transportation.</li>
          </ul>
          <p>The results of this probe give insight in how environmently-concious people buy their groceries.</p>
        </mat-expansion-panel>
        <!-- Probe 3 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Probe 3
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li>Invite the user to think about a timeframe of three months before today till today.</li>
            <li>Ask them the following questions:
              <ul>
                <li>Have you bought any clothes during this time?</li>
                <li>How many times?</li>
                <li>Where? (Which website / store?)</li>
                <li>Did you return any clothes?</li>
                <li>How many clothes do you buy per session on average?</li>
              </ul>
            </li>
          </ul>
          <p>This probe gives insight on how users contribute to one of the most polluting industries: fashion. </p>
        </mat-expansion-panel>
        <!-- Probe 4 -->
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Probe 4
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul>
            <li>Have the user draw lines on a map that represents the distance they have travelled throughout the week.
            </li>
            <li>For each line have them calculate the distance in kilometers and write down the mode of transportation.
            </li>
          </ul>
          <p>Gives insight on how much a person travels throughout the week and whether they make decisions that benefit
            the environment (e.g. taking a bike).</p>
        </mat-expansion-panel>
      </mat-accordion>
      <p style="padding-top: 1em;">After testing out the probes for ourselves over a week, we came together and
        discussed our experiences. We
        found that probe 3 was boring and not really engaging to the user. Probe 4 was more engaging but the results
        were inaccurate, as travel routes are not simply straight lines. This left us with probe 1 and 2. Both probes
        delivered interesting results and were more fun to interact with.</p>

      <p>Probe 1 can be found <a target="_about:blank" href="https://padlet.com/mroelen1/puv5rmfzz006akk7">here</a>. A
        screenshot is provided below:</p>
      <img src="../assets/img/hcd/probe1.png" alt="">

      <p>Probe 2 can be found <a target="_about:blank" href="https://padlet.com/paulevers1311/diary">here</a>. A
        screenshot is provided below:</p>
      <img src="../assets/img/hcd/probe2.png" alt="">

      <!-- Design Probes -->
      <h2 class="title is-3">HCD in Novum Project</h2>
      <hr>
      <p>Human Centered Design became most useful during the Novum team project. During the empathizing phase at the
        beginning of the project. A lot of information about our users needed to be gathered. For this we used several
        techniques:</p>
      <ul>
        <li>1-on-1 interviews</li>
        <li>Street interviews</li>
        <li>Surveys</li>
      </ul>
      <p>Personally, I was involved in the 1-on-1 and street interviews of the elderly demographic. The interviews
        proved to be really informative. Each interview started with a small introduction and icebreaker. We would then
        start asking some questions we prepared. This would often lead in the interviewee telling a story. This made the
        interview more like a natural conversation. This helped us get insights and answers to questions we had not
        necessarily though of ourselves.</p>
      <p>The interviews were focused on two parts: the experience of elderly with technology and digital environments,
        and the experience and knowledge of elderly with power of attorney.</p>

      <!-- Reflection -->
      <h2 class="title is-3">Reflection</h2>
      <hr>
    </div>
  </div>
</div>
