<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sprint 3 - Concepting
      </h1>
      <h2 class="subtitle">
        Creating prototypes and testing them with our audience.
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <div class="column is-12">
      <!-- Introduction -->
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <p>Now that in the previous sprint we have more clearly defined the problems our audience faces, we can start
        working on coming up with concepts and prototypes. During this sprint we decided to focus on low-fidelity
        prototypes and test them with our audience. The insights we would get from these would be used to improve upon
        our prototypes.
      </p>
      <p>In this sprint I also took the task of Scrum master upon myself. More on this can be read in the reflection.
      </p>


      <!-- Lofi Prototype -->
      <h2 class="title is-2">Low-fidelity Prototype</h2>
      <hr>
      <p>Now that we had gathered enough insights and got on the same page as a team, it was time coming up with
        concepts. We decided for everyone to make a concept for themselves to decide what each of us thought should be
        in the final version. These would give us varied and unique prototypes with different perspectives. I made this
        straight-forward mobile app, which helps its users using a step-plan:</p>
      <a href="../assets/img/novum/sprint3/concept.png" target="_blank" rel="noopener noreferrer">
        <img style="height: 40vh;" src="../assets/img/novum/sprint3/concept.png" alt="">
      </a>
      <br>
      <p>After this we shared and combined our ideas. We discussed what we thought were important parts of our
        prototypes and why they should be included in the future.</p>
      <p>Once we had discussed this, we decided as a group to split up in three parts to each work on a different
        prototype. We chose to do this to
        let each group have their own perspective on the problem and to come up with a variety of solutions. I paired up
        with Wendy. We created an iPad/responsive website prototype. We first drew it out, then made photos and inserted
        them into Figma to make it a clickable prototype. A photo of that process can be seen below:</p>
      <img style="height: 40vh;" src="../assets/img/novum/sprint3/lofi.png" alt="">
      <br>
      <p>To see and test the prototype yourself, you can click <a
          href="https://xd.adobe.com/view/445b392a-058c-4f39-8237-501a3ec186be-1108/" target="_blank"
          rel="noopener noreferrer">here</a>.</p>

      <!-- Testing -->
      <h2 class="title is-2">Testing</h2>
      <hr>
      <p>Now that the first prototype was finished, it was time to test it on our audience. Before we could do this it
        was essential to set up a test plan. This test plan describes what we are going to test, what metrics we are
        gonna record, the tasks the user needs to perform, and questions we ask during and after the testing. The full
        test plan for this prototype can be found here: <a
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/novum%2FSprint%203%2FTest%20Plan_%20Prototype%20A.pdf?alt=media&token=dfee0855-f99e-496b-8994-68bc6438aa44"
          target="_blank" rel="noopener noreferrer">here</a>.
      </p>
      <p>Due to the COVID-19 pandemic we had quite some trouble finding suitable test-subjects. I let my grandfather of
        74 years test the prototype. For this I recorded our conversation and his mouse clicks. The video of this test
        is in dutch and can be found below: </p>
      <div style="display: flex; justify-content: center;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yILRLeS3yEE" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <br>
      <p>The summary of the test results goes as follows:</p>
      <h3 class="is-3 quote">
        <i>
          "The participant thought the prototype had a good logical flow, but he got confused at the uploading
          verification part. He also missed titles on pages, which led him to not know what the function of the page
          was. He did like the fact that you can select which organisations you are giving someone power of attorney
          to."
        </i>
      </h3>

      <!-- Reflection -->
      <h2 class="title is-2">Reflection</h2>
      <hr>
      <p>I think this sprint was really nice because we actually got to think more creatively and start working on more
        tangible products.</p>
      <p>However, there were some major issues in our group that came up during this sprint. Previously, Diederik had
        been Scrum master but felt he could not motivate the team well enough and had therefore stepped down this
        sprint. I decided I wanted to give the Scrum master role a try. In previous sprints Diederik did a lot of work
        that went beyond that of a Scrum master, he arranged a lot of meetings, communicated with the teachers, and
        tried to motivate us as a team. While this was good, I felt that a Scrum master was only responsible for the
        conducting of the daily stand-ups and retrospectives.
      </p>
      <p>This lead to a conflict within our group. Some members thought that I was not doing enough for the group.
        Tensions grew high and it got a bit awkward among us. After discussing with the teachers what to do we decided
        to have a 360 feedback session. This was the first time I ever took part of a 360 feedback session. </p>
      <p>In short: the feedback that I got was that they thought I was pleasant to work with, and that I did a lot of
        work, but I did not fulfill my duties as Scrum master. After this feedback session we decided to restructure our
        planning as most of us felt that the Scrum methodology was overkill for our project.</p>
      <p>Since then the air was cleared and we got along fine again. It was really helpful to communicate our struggles
        with eachother to move past them. Part of the feedback notes I got can be seen below:</p>
      <img src="../assets/img/novum/sprint3/feedback.jpeg" alt="">

    </div>
  </div>
</div>
