<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sprint 1 - Empathize
      </h1>
      <h2 class="subtitle">
        Getting started, analyzing and empathizing with our target group.
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <div class="column is-12">
      <!-- Introduction -->
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <p></p>


      <!-- Reflection -->
      <h2 class="title is-2">Reflection</h2>
      <hr>
      <p></p>
      <img src="../assets/img/novum/sprint3/feedback.jpeg" alt="">

    </div>
  </div>
</div>
