<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Sprint 3 - Concepting
      </h1>
      <h2 class="subtitle">
        Creating prototypes and testing them with our audience.
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <div class="column is-12">
      <!-- Introduction -->
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <p>Now that in the previous sprint we have more clearly defined the problems our audience faces, we can start
        working on coming up with concepts and prototypes. During this sprint we decided to focus on low-fidelity
        prototypes and test them with our audience. The insights we would get from these would be used to improve upon
        our prototypes.
      </p>
      <p>In this sprint I also took the task of Scrum master upon myself. More on this can be read in the reflection.
      </p>


      <!-- Lofi Prototype -->
      <h2 class="title is-2">Low-fidelity Prototype</h2>
      <hr>
      <p>As a group we decided to split up in three parts to each work on a different prototype. We chose to do this to
        let each group have their own perspective on the problem and to come up with a variety of solutions. I paired up
        with Wendy. We created an iPad/responsive website prototype. We first drew it out, then made photos and inserted
        them into Figma to make it a clickable prototype. A photo of that process can be seen below:</p>
      <img style="height: 40vh;" src="../assets/img/novum/sprint3/lofi.png" alt="">
      <br>
      <p>To see and test the prototype yourself, you can click <a
          href="https://xd.adobe.com/view/445b392a-058c-4f39-8237-501a3ec186be-1108/" target="_blank"
          rel="noopener noreferrer">here</a>.</p>


      <!-- Testing -->
      <h2 class="title is-2">Testing</h2>
      <hr>
      <p>Now that the first prototype was finished, it was time to test it on our audience. Before we could do this it
        was essential to set up a test plan. This test plan describes what we are going to test, what metrics we are
        gonna record, the tasks the user needs to perform, and questions we ask during and after the testing. The full
        test plan for this prototype can be found here: <a
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/novum%2FSprint%203%2FTest%20Plan_%20Prototype%20A.pdf?alt=media&token=dfee0855-f99e-496b-8994-68bc6438aa44"
          target="_blank" rel="noopener noreferrer">here</a>.
      </p>
      <p>Due to the COVID-19 pandemic we had quite some trouble finding suitable test-subjects. I let my grandfather of
        74 years test the prototype. For this I recorded our conversation and his mouse clicks. The video of this test
        is in dutch and can be found below: </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/yILRLeS3yEE" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>


      <!-- Reflection -->
      <h2 class="title is-2">Reflection</h2>
      <hr>
      <p></p>
      <img src="../assets/img/novum/sprint3/feedback.jpeg" alt="">

    </div>
  </div>
</div>
