<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Storytelling
      </h1>
      <h2 class="subtitle">
        Get lost in a story
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <div class="column is-12">
      <!-- Introduction -->
      <h2 class="title is-2">Introduction</h2>
      <hr>

      <!-- Emotion research -->
      <h2 class="title is-2">Emotion Research</h2>
      <hr>
      <p>Emotion is a powerful tool that is used in virtually all stories. Therefore we were assigned the assignment to
        research the function of emotions in story. This research would give us a better understanding of how emotion is
        used in stories. For my research on emotions I focussed on emotions from a psychological perspective. My
        research can be found <a
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/story%2FFunctions%20of%20emotions%20in%20storytelling.pdf?alt=media&token=0f4d90c8-db14-4207-8b64-4248514c5fd1"
          target="_blank" rel="noopener noreferrer">here</a>. I found this research to be very insightful and made me
        more aware of how emotions are used when I was watching movies later on.</p>

      <!-- Pecha Kucha -->
      <h2 class="title is-2">Pecha Kucha</h2>
      <hr>
      <p>A Pecha Kucha is a presentation that consists of 20 images. These images are meant to convey the general mood
        and tone of the story you want to tell. Each picture is shown for 20 second with an explanation of the
        presenter. To convey the tone and mood of our story, Jessica and I presented a Pecha Kucha. We focussed on dark 
      colors and imagery that were related to sadness. A slide from the Pecha Kucha can be found below: </p>
      <img src="../assets/img/story/pecha.png">
    </div>
  </div>
</div>
