<!-- Hero -->
<section class="hero is-image is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Storytelling
      </h1>
      <h2 class="subtitle">
        Get lost in a story
      </h2>
    </div>
  </div>
</section>

<!-- Content -->
<div class="content">
  <div class="columns is-multiline">
    <div class="column is-12">
      <!-- Introduction -->
      <h2 class="title is-2">Introduction</h2>
      <hr>
      <p>Keeping people engaged and invested in virtually anything requires a good story. The power of a story helps
        people to emotiannly connect to someone or something. When combined with design, this can be very powerful.
        During the Story Creation course we have learned how to use the power of storytelling. I researched the
        psychology of emotion in stories and together with Jessica worked on a choose-your-own adventure story for the
        last few months. Our final story had to meet the following statement:</p>
      <h3 class="is-3 quote">
        <i>
          "The interactive product embodies a meaningful story for the user-group based on emotion-based storytelling
          that leads to a predetermined interpretation."
        </i>
      </h3>

      <!-- Emotion research -->
      <h2 class="title is-2">Emotion Research</h2>
      <hr>
      <p>Emotion is a powerful tool that is used in virtually all stories. Therefore we were assigned the assignment to
        research the function of emotions in story. This research would give us a better understanding of how emotion is
        used in stories. For my research on emotions I focussed on emotions from a psychological perspective. My
        research can be found <a
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/story%2FFunctions%20of%20emotions%20in%20storytelling.pdf?alt=media&token=0f4d90c8-db14-4207-8b64-4248514c5fd1"
          target="_blank" rel="noopener noreferrer">here</a>. I found this research to be very insightful and made me
        more aware of how emotions are used when I was watching movies later on.</p>

      <!-- Pecha Kucha -->
      <h2 class="title is-2">Pecha Kucha</h2>
      <hr>
      <p>After researching, we were given the assignment to create a story ourselves. We could decide for ourelves what
        themes and what medium we wanted to use for the story. I created the story together with Jessica from my group.
        We wanted to tell a story that had to do something with our group project of Novum. Our group project was mainly
        about elderly who needed to be helped doing their digital authorization. From this point we came up with a story
        about an elderly man who lives alone and gets exploited by his son. We discussed what tone, mood, and themes we
        wanted in our story. From that we made a Pecha Kucha.</p>
      <p>A Pecha Kucha is a presentation that consists of 20 images. These images are meant to convey the general mood
        and tone of the story you want to tell. Each picture is shown for 20 seconds with a small explanation of the
        presenter. We focussed on dark
        colors and imagery that were related to sadness and loneliness, but also to overcoming and happiness. A gif
        animation
        from the Pecha Kucha can be found below: </p>
      <img style="width: 50%;" src="../assets/img/story/pecha.gif">
      <p style="margin-top: 1em;">We also included pictures of death, loneliness, family, dark weather, good weather,
        sadness, crying, and more
        in de Pecha Kucha. To see the full Pecha Kucha on your own pace, you can download it <a
          href="https://firebasestorage.googleapis.com/v0/b/dxdportfolio.appspot.com/o/story%2FPecha%20Kucha%20Jessica%20%26%20Paul.pdf?alt=media&token=72144895-c7e2-434f-a85e-f8278bccba67"
          target="_blank" rel="noopener noreferrer">here</a>.</p>
      <p>After presenting we got the following feedback from our teacher:</p>
      <h3 class="is-3 quote">
        <i>
          "Why did you choose this subject? What triggers you both? What is the essence? Choose a clear goal, so you can
          build your story around that. For the final story: What has the shady world of his son to do with him. That do
          you want to achieve with your story?"
        </i>
      </h3>

      <!-- Protagonist -->
      <h2 class="title is-2">Protagonist Herman</h2>
      <hr>
      <p>From the feedback we received it became evident we needed to go deeper into the story and introduce more
        feature's to our protagonist. We went through several iterations of our portagonist, while finally settling on
        Herman.</p>
      <img src="../assets/img/story/herman.png">

      <p>Herman is a 76 year old man. He is a retired construction worker who comes from a poor background with not much
        to spend. He did not have any high education, but did inherit a nice sum of money from his wife's life
        insurance. With his wife he has a son and a daughter.</p>
      <p>His wife passed away when their children were still young. His son was about to run into the street to get a
        ball, when a car was about to approach. His wife quickly ran into the street, saving their son, but
        unfortunately paying it with her own life. From this point on, Herman has never been the same.</p>
      <p>Deep inside he resented his son, and blamed him for his wife's death. Herman did not have a nice childhood
        himself. His father used to beat him, and he has broken off his connection with his remaining family. His only
        wish for the future was to start a family of his own. And now it felt like his son has taken this away from him.
        This resulted in him not being the nicest father, and his son
        picked up on this. </p>
      <p>When growing up, his son started to feel more and more disconnected from his dad. He got in touch with bad
        people and quickly found himself in the criminal circuit. Herman knew about this, but did not confront him about
        it. When the son got older, he left home and barely spoke to Herman again.</p>
      <p>On the other hand, his daughter and him had a stable relationship. Up untill the moment she decided to move
        abroad for love. Herman was left all alone and felt betrayed by this. </p>
      <p>Fast-forward to current times. And Herman is all alone in his house, with nobody but the television in front of
        him.</p>

      <!-- Medium -->
      <h2 class="title is-2">Medium</h2>
      <hr>
      <p>At this point Jessica and I felt like we wanted to add more spice to the story. We want to incorporate a more
        dramatic moment. What if Herman got so mad he kills his son? Or what if his son kills Herman himself? Why not
        both? This gave us the idea to let the player decide for themself. We want to make a pick-your-own adventure
        style of game. This is a game where the choices you make influence the course of the story. Some parts of
        Herman's story might not be discovered by the choices made during a player's first playthrough, encouraging to
        play multiple times and make different choices. To work out this idea we first made a tree of the possible
        choices leading to the possible endings. This is what the tree looks like so far:</p>
        <a href="../assets/img/story/tree.png" target="_blank" rel="noopener noreferrer">
          <img src="../assets/img/story/tree.png" alt="">
        </a>
        <br>
      <p>Because making an actual game takes a lot of time and knowledge not related to storytelling, we decided to create a prototype. We made a clickable prototype in Figma. The prototype follows the same structure as the tree seen above. Jessica added hand-drawn images to prototype as well. Unfortunately we were not able to work out each ending in great detail. If you want to experience the story yourself you can find it 
        <a href="https://www.figma.com/proto/7wfGtYqgqnAOr6Dj8mPH6U/Herman?node-id=130%3A181&scaling=contain" target="_blank" rel="noopener noreferrer">here</a>. A sample of the game can be seen in the gif below:
      </p>

      <img src="../assets/img/story/figma.gif" alt="">

      

      <!-- Reflection -->
      <h2 class="title is-2">Reflection</h2>
      <hr>
      <p>I am someone who loves to consume stories; I watch a lot of movies and series, and occasionaly like to read
        books. I always find myself to be critical of how the story is constructed by their writers. Now, after a few
        months of working on a story myself, I can see how difficult it is. It requiers a lot of planning and skill to
        have a story be logical, fun, and to convey the messages you want to.</p>
      <p>I liked that we got the freedom to be creative on the medium we chose. As this was my first time writing and
        thinking of an actual story, this made it more motivating.</p>
      <p>All-in-all I am happy with the story Jessica and I put out. We listened to the feedback and we got along really
        well.</p>
    </div>
  </div>
</div>
